@mixin keyframe ($animation_name) {
    @-webkit-keyframes $animation_name {
        @content;
    }

    @-moz-keyframes $animation_name {
        @content;
    }

    @-o-keyframes $animation_name {
        @content;
    }

    @-ms-keyframes $animation_name {
        @content;
    }

    @keyframes $animation_name {
        @content;
    }
}

@mixin animation ($animation, $duration, $timing-function: null, $fill-mode: null, $direction: normal) {
  -webkit-animation-name: $animation;
     -moz-animation-name: $animation;
      -ms-animation-name: $animation;
       -o-animation-name: $animation;
          animation-name: $animation;

  -webkit-animation-duration: $duration;
     -moz-animation-duration: $duration;
      -ms-animation-duration: $duration;
       -o-animation-duration: $duration;
          animation-duration: $duration;

  -webkit-animation-direction: $direction;
     -moz-animation-direction: $direction;
      -ms-animation-direction: $direction;
       -o-animation-direction: $direction;
          animation-direction: $direction;

  @if $timing-function {
    -webkit-animation-timing-function: $timing-function;
       -moz-animation-timing-function: $timing-function;
        -ms-animation-timing-function: $timing-function;
         -o-animation-timing-function: $timing-function;
            animation-timing-function: $timing-function;
  }

  @if $fill-mode {
    -webkit-animation-fill-mode: $fill-mode;
       -moz-animation-fill-mode: $fill-mode;
        -ms-animation-fill-mode: $fill-mode;
         -o-animation-fill-mode: $fill-mode;
            animation-fill-mode: $fill-mode;
  }

}
