@import '../bower_components/colors/sass/variables';

$background: #eee;
$red: #c40600;
$green: #2fbc52;
$facebook: #3b5998;
$twitter: #55acee;
$github: #171515;
$gray: darken($background, 10);
$grey: $gray;
