@media (min-width: 1040px) {
  nav li:not(:first-child) {
    margin-left: -42px; }
    nav li:not(:first-child) .label,
    nav li:not(:first-child) .fa {
      padding-left: 9px !important; }
  nav li .label {
    top: 32px; }
  nav li .fa {
    font-size: 4em;
    top: -32px; }

  .hexagon {
    width: 202.0px;
    height: 170px; }

  .arrow {
    width: 180.0px;
    height: 170px;
  }

  .header {
    width: 666px;
    margin-bottom: 1em;
  }

  #nav-sidebar {
    width: 280px;
  }

  #page {
    margin-left: 280px;
  }

  .bignav {

    .fa {
      top: 38px;
    }

    .label {
      top: 105px;
    }

  }

}
