<div class="topnav">
  <div class="invisi-box">
    <nav class="littlenav">
      <ul>
        <li>
          <svg class="hexagon projects" viewBox="0 0 202 170" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M0 84.609l50.794-84.117h100.458l50.672 83.913-49.928 84.521h-100.94l-51.056-84.317z"
              sketch:type="MSShapeGroup" />
          </svg>
        </li>
        <li>
          <a href="/code">
            <svg class="code hexagon" viewBox="0 0 180 170" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M0 84.609l50.794-84.117h100.458l50.672 83.913-49.928 84.521h-100.94l-51.056-84.317z"
                sketch:type="MSShapeGroup" />
            </svg>
          </a>
        </li>
        <li>
          <a href="/contact">
            <svg class="contact hexagon" viewbox="0 0 180 170" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M0 84.609l50.794-84.117h100.458l50.672 83.913-49.928 84.521h-100.94l-51.056-84.317z"
                sketch:type="MSShapeGroup" />
            </svg>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>

