<div class="topnav">
  <div class="invisi-box">
    <nav class="littlenav">
      <ul>
        <li>
          <svg class="hexagon projects" viewBox="0 0 202 170" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M0 84.609l50.794-84.117h100.458l50.672 83.913-49.928 84.521h-100.94l-51.056-84.317z"
              sketch:type="MSShapeGroup" />
            <i class="fa fa-heart"></i>
          </svg>
        </li>
        <li>
          <a href="/code">
            <svg class="code arrow" viewBox="0 0 180 170" xmlns="http://www.w3.org/2000/svg">
              <path d="M51.308 84.405l-50.514-83.913h128.544l50.672 83.913-49.928 84.521h-129.027l50.252-84.521z" sketch:type="MSShapeGroup" />
              <i class="fa fa-code"></i>
            </svg>
          </a>
        </li>
        <li>
          <a href="/contact">
            <svg class="contact arrow" viewbox="0 0 180 170" xmlns="http://www.w3.org/2000/svg">
              <path d="m51.308 84.405l-50.514-83.913h128.544l50.672 83.913-49.928 84.521h-129.027l50.252-84.521z" sketch:type="msshapegroup" />
              <i class="fa fa-phone"></i>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>

