<nav class="pagenav">
  <ul>
    <li>
      <a class="projects" href="/projects">
        <i class="fa fa-heart"></i>
        <span class="label">Projects</span>
      </a>
    </li>
    <li>
      <a class="code" href="/code">
        <i class="fa fa-code"></i>
        <span class="label">Code</span>
      </a>
    </li>
    <li>
      <a class="contact" href="/contact">
        <i class="fa fa-phone"></i>
        <span class="label">Contact</span>
      </a>
    </li>
    <li>
      <a class="tools" href="/tools">
        <i class="fa fa-wrench"></i>
        <span class="label">Tools</span>
      </a>
    </li>
    <li>
      <a class="blog" href="/blog">
        <i class="fa fa-pencil"></i>
        <span class="label">Blog</span>
      </a>
    </li>
  </ul>
</nav>

