$svg-medium-modifier: .8;
$nav-icon-height: 170px;
$point-width: $nav-icon-height * .300699301;

.bignav {
  color: white;
  display: flex;
  justify-content: space-between;
  margin: 0 $point-width;
  max-width: 100%;
  margin-bottom: 6em;
  width: 666px;
}

.nav-icon {
  color: white;
  display: block;
  height: $nav-icon-height;
  position: relative;

  &:visited {
    color: white;
  }

  .inner-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .fa {
    font-size: 4em;
  }

  .label {
    padding-bottom: 1em;
  }

  &.hexagon {
    width: $nav-icon-height * .587412587;  // Correct ratio for width

    svg {
      margin-left: -$point-width;
    }
  }

  &.arrow {
    $arrow-width: $nav-icon-height * .762237762; // Correct ratio for width

    width: $arrow-width;

    .inner-content {
      margin-left: 2em;
    }
  }

  svg {
    height: $nav-icon-height;

    @each $item, $color in $links {
      &.#{$item} path {
        fill: $color;
      }
    }
  }
}

html,
body {
  height: 100%;
  margin: 0;
  overflow: auto;
  padding: 0;
  width: 100%;
}

body {
  background-color: $background-color;
  font-family: 'AmbleRegular';
  overflow-y: hidden;
}

a {
  text-decoration: none ;
  color: $blue;

  &:visited {
    color: $violet;
  }
}

hr {
  margin-bottom: -1px;
}

p {
  margin: 5px 0px;

  & + & {
    padding-top: .8em;
  }

  code {
    background-color: $steel;
    border-radius: 2px;
    padding: {
      top: 2px;
      bottom: 2px;
      left: 3px;
      right: 3px;
    }
  }
}

.social-bar {
  position: relative;
  font-size: 5em;
  float: left;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
         -transform: translateX(-50%);
}

.social-item {
  position: relative;
  text-align: center;
  float: left;
  width: 90px;

  // Set margin on items that have a neighbor to create
  // the correct spacing
  & + & {
    margin: {
      left: 20px;
    }
  }

  &:hover {
    top: -15px;

    .label {
      display: block;
    }
  }

  img {
    height: 80px;
    position: relative;
    top: 10px;
  }

  .label {
    font-size: 12px;
    color: white;
    background: $github-brand;
    padding: 4px;
    border-radius: 5px;
    display: none;
  }

  // Github link colors
  &.github a,
  &.github a:visited {
    color: $github-brand;
  }

  // Twitter link colors
  &.twitter a,
  &.twitter a:visited {
    color: $twitter-brand;
  }
}

.tagline {
  opacity: .7;
  font-size: .6em;
}

#homepage-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

#homepage {
  $item-width: 666px;

  margin: 0 auto;

  hr,
  p,
  h1 {
    margin: 0 auto;
    width: $item-width;
  }

  hr {
    margin: .5em auto;
  }
}

.highlight {
  $spacing-amount: 1em;

  border-radius: 4px;
  margin: $spacing-amount 0;
  padding: ($spacing-amount / 2) $spacing-amount;
}
