.container,
nav {
  margin: 0 auto;
}

.page {
  @extend %paper;

  margin: {
    top: 3em;
  }
}

.invisi-box {
  @extend %page-width;
}

footer {
  @extend %page-width;

  text-align: center;
  opacity: .6;
  margin-top: 3em;
}
