$navbar-transition-time: .4s;

.container {
  margin: 0 auto;
}


// Paper and paper-like components
.scrap {
  @extend %paper;

  margin-top: $spacing-unit;
}

.page {
  @extend %paper;

  img {
    width: 100%;
  }
}

.invisi-box {
  @extend %page-width;
}

header {
  @extend %page-width;

  overflow: hidden;
  margin: {
    top: 1em;
    bottom: 1em;
  }

  > h1 {
    float: left;
    margin: 0;
  }
}

.pagenav {
  float: right;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 2em;
  }

  .label {
    display: none;
  }

  li {
    display: inline;
    padding-left: .5em;

    &:hover {
      .label {
        display: inline;
      }
    }
  }

  a {
    text-decoration: none;
  }

  @each $site, $color in $links {
    .#{$site} {
      color: $color;

      &:hover {
        color: darken($color, 5);
      }

      &:visited {
        color: $color;
      }
    }
  }
}

footer {
  @extend %page-width;

  text-align: center;
  opacity: .6;
  margin-top: 3em;
  margin-bottom: 3em;
}
