@import 'vars';

ul.projects {
  list-style-type: none;
  padding: 0;

  a {
    color: black;
 }

  h2 {
    margin-top: .2em;
    color: $red;
  }

  li {
    display: block;
    margin-bottom: 1em;
    padding: 15px;
    border-radius: 5px;

    &:hover {
      background: $red;

      h2, a {
        color: white;
      }
    }
  }

}

