@import 'vars';

#nav-sidebar {
  background: #d4d4d4;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-right: 30px;
  padding-left: 30px;
  box-sizing: border-box;
  height: 100vh;
  overflow: hidden;
  position: fixed;

  ul {
    list-style-type: none;
    padding-left: 10px;
    margin: {
      bottom: 3em;
    }

    li {
      -webkit-transition: padding-left .25s;
      transition: padding-left .25s;
      display: block;

      i {
        float: left;
      }

      span {
        float: right;
        display: block;
        width: 85%;
      }

      &:after {
        content: ".";
        visibility: hidden;
        display: block;
        height: 0;
        clear: both;
      }

      a {
        color: #111111;
      }

      @each $link, $color in $links {
        &.#{$link} .fa {
          color: $color;
        }
      }

      &:hover {
        padding-left: 20px;
        -webkit-transition: padding-left .25s;
        transition: padding-left .25s;
      }
    }
  }
}
