/*
 * Placeholders
 */


%page-width {
  display: block;
  margin: 0 auto;

  max-width: 900px;
  width: 80%;

  @include media-query($on-laptop) {
    width: 600px;
  }

  @include media-query($on-palm) {
    width: 95%;
  }
}


%paper {
  $padding: 2em;

  @extend %page-width;

  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, .2);
  padding: $padding;
  box-sizing: border-box;
  overflow: hidden;

  // First child of paper
  > a:first-child h2 {
    margin-top: 0;
  }

  > img:first-child {
    margin: {
      top: -$padding;
      right: -$padding;
      left: -$padding;
    }
  }

  > *:first-child {
    margin-top: 0;
  }
}


// Vertical align anything
%vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

