@font-face {
  font-family: 'AmbleRegular';
  src: url("/assets/fonts/amble_regular_macroman/Amble-Regular-webfont.eot");
  src: url("/assets/fonts/amble_regular_macroman/Amble-Regular-webfont.eot?iefix") format("eot"), url("/assets/fonts/amble_regular_macroman/Amble-Regular-webfont.woff") format("woff"), url("/assets/fonts/amble_regular_macroman/Amble-Regular-webfont.ttf") format("truetype"), url("/assets/fonts/amble_regular_macroman/Amble-Regular-webfont.svg#webfont") format("svg"); }

@font-face {
  font-family: 'AmbleLight';
  src: url("/assets/fonts/amble_light_macroman/Amble-Light-webfont.eot");
  src: url("/assets/fonts/amble_light_macroman/Amble-Light-webfont.eot?iefix") format("eot"), url("/assets/fonts/amble_light_macroman/Amble-Light-webfont.woff") format("woff"), url("/assets/fonts/amble_light_macroman/Amble-Light-webfont.ttf") format("truetype"), url("/assets/fonts/amble_light_macroman/Amble-Light-webfont.svg#webfont") format("svg"); }
